<h1>About Tim</h1>

<p>Since the late 1800's, Tim's work on cars has been a center-point of the American memetic memory, having striped <i>Le chez d'triumph</i> in Little Italy, and the Lotus belonging to the brother of the neighbor of the owner of COUCHEZ in downtown Santa Barbara.</p>

<p>Tim has done it all.</p>

<%= link_to "Contact Tim", :action => :contact %>